*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

    .container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 15px 70px;
    border-radius: 10px;
    
}
.row{
    display: flex;justify-content: center;
    align-items: center;
    padding-left: 10px;
    
    margin-bottom: 25px;
    background-color: #edeef0;
    border-radius: 14px;
}

.button{
    background-color: #ff5945;
    color: white;
    padding: 15px 30px;
    border-radius: 15px;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
#input-box{
    flex: 1;
    width: 80%;
    height: 40px;
    font-size: 18px;
    font-weight: 14px;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: transparent;
    
    margin-right: 10px;
}
ul li{
    list-style: none;
    padding: 16px 8px 12px 50px;
    max-height: 250px;
    overflow-y: auto;
    cursor: pointer;
    position: relative;
    user-select: none;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('./unchecked.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url('./checked.png');
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;

}


#bubble-container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: #f0f0f0;
    border-radius: 50%;                             
}
  
.bubble {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.5);
    animation: move 5s infinite;
  }
  
  @keyframes move {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(10px, 10px);
    }
    50% {
      transform: translate(-10px, -10px);
    }
    75% {
      transform: translate(10px, -10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  